@{
    ViewData["Title"] = "Home Page";
}
@using Server;
@model List<Server.Models.SuspectsModel>
<div class="row">
			<div class="col-md-4 border p-4">
				<h2>Добавить Steam ID</h2>
				<form asp-action="createNewSus">
					<div class="form-group">
						<label for="steamIdInput">Steam ID</label>
						<input type="text" class="form-control" id="steamIdInput" name="steamId">
					</div>
					<p> </p>
					<button type="submit" class="btn btn-primary">Добавить</button>
				</form>
			</div>
			<div class="col-md-8 border p-4">
				<h2>Таблица</h2>
				<table class="table">
					<thead>
						<tr>
							<th>Steam ID</th>
							<th>Score</th>
							<th>Дата создания</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
				@foreach (var suspect in Model)
				{
						<tr>
								<td>@suspect.steamId</td>
								<td>@suspect.score</td>
								<td>@suspect.createdAt</td>
								<td>
											 <a href="@Url.Action("Index", "EvidenceView", new { steamID = suspect.steamId })" class="btn btn-primary">View Evidence</a>
										 <a href="@Url.Action("deleteSus", "Home", new { id = suspect.Id })" class="btn btn-danger">Удалить</a>
								</td>
							</tr>
				}
					</tbody>
				</table>
			</div>
		</div>